# Node.js
node_modules/
npm-debug.log*
yarn-error.log
build/
dist/
.env
package-lock.json

# Python
__pycache__/
*.py[cod]
venv/
.env

# Java
*.class
*.jar
target/
.idea/
*.iml

# C/C++
*.o
*.exe
build/
bin/
obj/

# Ruby
.bundle/
log/
tmp/
coverage/

# PHP
vendor/
*.log
.env

# Go
*.exe
*.test
vendor/

# Swift
*.xcodeproj/
*.xcworkspace/
*.xcuserstate

# .NET
bin/
obj/
*.suo
*.user

# Visual Studio Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
.env
